# Configure Development Deploy Environment 

DOCKERFILE=./Dockerfile.dev
IMAGE=strapi:dev
NODE_ENV=development

# Configure Production Deploy Environment 

#IMAGE=strapi:prod
#DOCKERFILE=./Dockerfile.prod
#NODE_ENV=production

# Server
HOST=0.0.0.0
PORT=

# Secrets
APP_KEYS=,,,
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=

# Database
DATABASE_CLIENT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=

# @strapi-community/dockerize variables 

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_CLIENT=
# @strapi-community/dockerize end variables 
