# Configure Development Deploy Environment 

DOCKERFILE=./Dockerfile.dev
IMAGE=strapi:dev
NODE_ENV=development

# Configure Production Deploy Environment 

#IMAGE=strapi:prod
#DOCKERFILE=./Dockerfile.prod
#NODE_ENV=production

# Server
HOST=0.0.0.0
PORT=Port strapi

# Secrets
APP_KEYS=,,,
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=
DATABASE_FILENAME=
JWT_SECRET=

# @strapi-community/dockerize variables 

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_CLIENT=postgres
# @strapi-community/dockerize end variables 

# Cron UTC Europe/Madrid
# configure the day of the month to reset the ranking - a number between 0 and 31 and "test" for testing (every minute)
CRON_RESET_DAY=5
# configure the hour of the day to reset the ranking - a number between 0 and 23
CRON_RESET_HOUR=23
# how often the ranking cron job runs - in "test" mode it runs every minute or configure a cron expression "0 0 * * *"
CRON_RANKING_SCHEDULE=6 
